.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}
.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary);
}
.header__link:hover,
.header__link:focus {
    text-shadow: 0 0 1px var(--black);
}
.header__link-icon:hover,
.header__link-icon:focus {
    transform: scale(1.1);
}
.h-b1,
.h-b2,
.h-b3,
.mobile_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.mobile_menu,
.mobile_menu_btn {
    display: none;
}
@media screen and (max-width: 1024px) {
    .h-b1 {
        gap: 15px;
    }
    .h-b3 {
        gap: 15px;
    }
}
@media screen and (max-width: 768px) {
    .header .container {
        padding: 20px 0;
        gap: 15px;
        position: relative;
    }
    .h-b1 {
        display: none;
    }
    .h-b27 {
    }
    .h-b3 {
        display: none;
    }
    .header__link {
        font-size: 20px;
        line-height: 24px;
    }
    .mobile_menu_btn {
        display: inherit;
        width: 60px;
        height: 60px;
        position: relative;
        cursor: pointer;
        z-index: 1;
    }
    .menu_btn,
    .menu_btn::after,
    .menu_btn::before {
        width: 40px;
        height: 4px;
        background: var(--black);
        position: absolute;
    }
    .menu_btn {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.4s ease-in-out;
    }
    .menu_btn::after {
        content: '';
        top: 12px;
        transition: all 0.4s ease-in-out;
    }
    .menu_btn::before {
        content: '';
        top: -12px;
        transition: all 0.4s ease-in-out;
    }
    .menu_btn-active .menu_btn {
        height: 0px;
        transition: all 0.4s ease-in-out;
    }
    .menu_btn-active .menu_btn::before {
        opacity: 1;
        top: 0px;
        transform: rotate(135deg);
        transition: all 0.4s ease-in-out;
    }
    .menu_btn-active .menu_btn::after {
        opacity: 1;
        top: 0px;
        transform: rotate(45deg);
        transition: all 0.4s ease-in-out;
    }
    .mobile_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100vh;
        padding: 15vh 10vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background: rgba(255, 255, 255, 0.95);
        gap: 50px;
        transition: all 0.4s ease-in-out;
    }
    .mobile_menu-active {
        right: 0;
        transition: all 0.4s ease-in-out;
    }
}