.s1b1 {
    height: 765px;
    background: url('../img/image-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 32vw;
}
.h1_s1b1 {
    text-align: center;
}
.text__regular__s1b1 {
    text-align: center;
    margin-top: 23px;
}
.s1b1__btn {
    width: 320px;
}
.s1b1__btn:first-of-type {
    margin-top: 40px;
}
.s1b1__btn:last-of-type {
    margin-top: 20px;
    background: transparent;
    color: var(--btn-active);
}
@media screen and (max-width: 1024px) {
    .s1b1 {
        padding: 10% 25vw;
    } 
}
@media screen and (max-width: 768px) {
    .s1b1 {
        height: auto;
        padding: 10% 5vw;
    }
    .text__regular__s1b1 {
        max-width: 80%;
        text-align: justify;
    }
    .s1b1__btn {
        width: 200px;
    }
}

.s2b1 {
    display: flex;
    flex-direction: row;
    padding: 45px;
    justify-content: space-between;
}
.advantage-card {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}
.advantage-card__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: var(--primary);
}
@media screen and (max-width: 768px) {
    .s2b1 {
        flex-wrap: wrap;
        padding: 15px;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
    }
    .advantage-card {
        min-width: 240px;
    }
}