@import url('header.css');
@import url('main.css');
@import url('footer.css');

:root {
	--primary: #0B3B3C;
	--accent: #91AB9F;
	--light: #E8EFE9;
	--black: #000000;
	--white: #FFFFFF;
	--btn-active: #7E0707;
	--green: #00B67A;
	--grey: #BDCDC5;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', serif;
}
.body {
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.main {
	margin-top: 81px;
}
.footer {

}

.h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: calc(1rem + 2.625vw);
	line-height: 80px;
	letter-spacing: 1.8px;
	color: var(--primary);
}
.h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: calc(1rem + 1.24vw);
	line-height: 60px;
	letter-spacing: 1.2px;
	color: var(--primary);
}
.h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: calc(1rem + 1vw);
	line-height: 40px;
	letter-spacing: 0.84px;
	color: var(--primary);
}
.h4 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.72px;
	color: var(--primary);
}
.text__regular {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: var(--primary);
}
.btn {
	padding: 15px 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	color: var(--white);
	background: var(--btn-active);
	border: 2px solid var(--btn-active);
	border-radius: 0px;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.text__regular {
		font-size: 12px;
		line-height: 22px;
	}
	
}

@media screen and (max-width: 768px) {
	.h1 {
		line-height: 40px;
		letter-spacing: 1.2px;
	}
	.h2 {
		font-size: 28px;
		line-height: 32px;
	}
}


